


<div class="container">
  <div class="row">
    <div class="jumbotron" style="background-color:#339FFF;text-align:center;">
    <h1>Meal Tracker</h1>
  </div>

  </div>
  <div class="row">
    <div class="col-md-6">

      <app-new-food (newFoodSender)="addNewFood($event)">

      </app-new-food>

    </div>
    <div class="col-md-6">
    <p style="color:white;font-size:18px;">your food option is:</p>
      <app-food-list
      [childFoodList]="masterFoodsList"
      (editFood)="showDetails($event)"
      (deleteFood)="delFood($event)"

      ></app-food-list>
      <app-edit-food
        [foodChildSelected]="selectedFood"
        (doneClickSender)="finishedEditting()"
      ></app-edit-food>

    </div>
  </div>
</div>
