
<label class="labelText">Food Name</label><br>
<input class="form-control" style="width:90%; height:40px" #newName><br>
<label class="labelText">Description</label><br>
<input class="form-control" style="width:90%; height:40px" #newDescription><br>
<label class="labelText">Calories</label><br>
<input class="form-control" style="width:90%; height:40px" #newCalorie><br>
<button class="btn btn-primary" style="margin-top:50px" (click)="addFood(newName.value, newDescription.value, newCalorie.value);
newName.value='';newDescription.value='';newCalorie.value=''">select your food</button>
